<mat-nav-list>
  <ng-container *ngIf="!(isAuth$ | async)">
    <a mat-list-item routerLink="/signup" (click)="onClose()">
      <mat-icon>face</mat-icon>
      <span class="nav-caption">Signup</span>
    </a>
    <a mat-list-item routerLink="/login" (click)="onClose()">
      <mat-icon>input</mat-icon>
      <span class="nav-caption">Login</span>
    </a>
  </ng-container>
  <ng-container *ngIf="isAuth$">
    <a mat-list-item routerLink="/trainings" (click)="onClose()">
      <mat-icon>fitness_center</mat-icon>
      <span class="nav-caption">Trainings</span>
    </a>
    <mat-list-item>
      <button mat-icon-button (click)="onLogout()">
        <mat-icon>eject</mat-icon>
        <span class="nav-caption">Logout</span>
      </button>
    </mat-list-item>
  </ng-container>
</mat-nav-list>
